<SCRIPT LANGUAGE="JavaScript">

    var socket = io.connect( "http://localhost:8000");

    $(document).ready(function() {
        socket.emit('message',{msg:'loaded'});


        $('.guibutton').on('click',function(event){
           // alert('clicked');
            buttonClicked(event.target.id);
        })

    });


function buttonClicked(id){


    socket.emit('message',{msg:id});
}



    socket.on('gui', function(data){
        $('#chat').append(
                data.op
        )
switch (data.op) {
    case 'DIV':
alert (data.op)
        $('#gui').append(
                '<DIV class="'+ data.class +'" id="'+ data.id + '">'
        +'</DIV>'
        )


        $(data.id).css('position: absolute')


        break;
}







    })

    socket.on('time', function(data){
        $('#time').append(
                data.time
        )

    })






</SCRIPT>

<a href="http://192.168.1.134:8000/getgui">reload</a>

<div id="gui">


</div>


