<SCRIPT LANGUAGE="JavaScript">

    var socket = io.connect( "http://localhost:8000");

    $(document).ready(function() {
        socket.emit('message',{msg:'loaded'});


        $('.guibutton').on('click',function(event){
           // alert('clicked');
            buttonClicked(event.target.id);
        })

    });


function buttonClicked(id){


    socket.emit('message',{msg:id});
}



    socket.on('gui', function(data){
        var newButton=data.button[0];
        $('#chat').append(
                
                newButton.op
        );
switch (newButton.op) {
    case 'DIV':

        $('#gui').append(
                '<DIV class="'+ newButton.class +'" id="'+ newButton.id + '" style= "height:' + newButton.height + 'px; width: ' + newButton.width + 'px; top: '+ newButton.top +'px; left: ' + newButton.left +'px; position: absolute" >'
        +'</DIV>'
        );



        break;
}







    });


    socket.on('time', function(data){
        $('#time').append(
                data.time
        )

    })






</SCRIPT>

<a href="http://192.168.1.134:8000/getgui">reload</a>

<div id="gui">


</div>


