<SCRIPT LANGUAGE="JavaScript">

    var socket = io.connect( "http://localhost:8000");

    $(document).ready(function() {
        socket.emit('message',{msg:'loaded'});




    });


function buttonClicked(id){


    socket.emit('message',{msg:id});
}



    socket.on('gui', function(data){


        $.each(data.buttons, function() {
            var button = this;


        $('#chat').append(

                button.op
        );
switch (button.op) {
    case 'DIV':

        $('#gui').append(
                '<DIV class="'+ button.class +'" id="'+ button.id + '" style= "height:' + button.height + 'px; width: ' + button.width + 'px; top: '+ button.top +'px; left: ' + button.left +'px; position: absolute" > '+button.text +'</DIV>'
        );
$(button.id).on('click','DIV', function(){
    alert(button.id)
})


        break;
}


        });




    });


    socket.on('time', function(data){
        $('#time').append(
                data.time
        )

    })






</SCRIPT>

<a href="http://192.168.1.134:8000/getgui">reload</a>

<div id="gui">


</div>


