<SCRIPT LANGUAGE="JavaScript">

    var socket = io.connect( "http://localhost:8000");

    $(document).ready(function() {
        socket.emit('message','rcd');
        $('.guibutton').on('click',function(){
           // alert('clicked');
            buttoneClicked();
        })

    });


function buttoneClicked(){


    socket.emit('message',{msg:'buttonclick'});
}



    socket.on('chat', function(data){
        $('#chat').append(
                data.name


        )




    })

    socket.on('time', function(data){
        $('#time').append(
                data.time
        )

    })






</SCRIPT>

<a href="http://192.168.1.134:8000/getgui">reload</a>

<div id="chat">


</div>

<div id="time">


</div>

<div class="guibutton" id="testbutton">

</div>