


<a href="http://192.168.1.134:8000">reload</a>

<div id="testdiv">
Testdiv

</div>


<SCRIPT LANGUAGE="JavaScript">
    $(document).ready(function() {

     $('<div/>')
             .html('test')
             .attr({
     id: 'testbutton',
            className: 'guibut'
    })
             .appendTo('body'); // append to chat box



    });

</SCRIPT>
