<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  <script>window.jQuery || document.write('<script src="javascripts/vendor/jquery-1.11.2.min.js"><\/script>')</script>
  <script src="javascripts/vendor/socket.io.js"></script>
  <script src="javascripts/vendor/jquery.marquee.js"></script>
  <script src="javascripts/vendor/jqclock.js"></script>
    {{{body}}}



  </body>
</html>
